@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.faq {
    font-family: "Roboto", sans-serif;
    padding: 10px 30px 10px 30px;
}

.faq h1 {
    font-size: 3.2em;
    margin: 0px;
    color: #689afa;
}

.faq h2 {
    margin: 0px;
    font-weight: normal;
    font-size: 1.3em;
    padding-bottom: 7px;
    border-bottom: 5px solid #689afa;
    color: #689afa;
}

.faq_buttons {
    padding: 50px 40px 40px 40px;
    width: 85%;
    margin: auto;
}

.accordion_question {
    display: flex;
    background-color: rgb(226, 226, 226);
    padding: 6px 24px 6px 24px;
    border-radius: 30px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 0.95em;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.accordion_question p {
    padding: 0px;
    margin: 0px;
    font-size: 3em;
    font-weight: normal;
}

.accordion_answer {
    text-align: left;
    font-size: 15px;
    padding: 20px;
    width: 89%;
    margin: auto;
}