@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

body {
  font-family: 'HK Grotesk', sans-serif;
  margin: 0;
}

.center-text {
  text-align: center;
}

button {
  outline: none;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

