#signup-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: min(1000px, 80%);
    margin: auto;
}

.alert {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 10px;
}

#signup-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #699CFC;
    width: 100%;
}

#signup-title {
    width: 356px;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #699CFC;
}

#signup-header-info-container {
    /* width: 80%; */
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 35% 25%;
    font-size: 25px;
    font-weight: 100;
}

@media screen and (min-width: 700px) {
    /* #signup-header-info-container {
        width: 80%;
    } */
}

@media screen and (max-width: 700px) {}

#signup-header-info {
    margin-top: -15px;
}

#signup-message-form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.signup-input,
.signup-textarea {
    font-size: 30px;
    color: #699CFC;
    border-radius: 10px;
    border: 3px solid #699CFC;
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 20px;
}

.signup-textarea {
    height: 400px;
    padding-top: 20px;
}

.signup-input:focus,
.signup-textarea:focus {
    outline: none;
}

.signup-input::placeholder,
.signup-textarea::placeholder {
    color: #699CFC;
    font-size: 30px;
}

#signup-submit-button {
    color: white;
    background-color: #699CFC;
    width: 100%;
    transform: scale(1.04);
    border-radius: 10px;
    font-size: 30px;
    border: none;
    padding: 20px;
}

#signup-submit-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}